@model List<ProjeTakipSistemi.Models.Personel.PersonelBilgileri>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    #baslik {
        background-color: #7d77ff;
    }

    th {
        color: white !important;
    }
</style>

<div class="card">
    <h5 class="card-header">İstatistik Listesi</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table id="istatistiklistele" class="table table-striped mb-4">

                </table>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <small class="text-muted">Toplam Proje</small>
                                        <h4 class="mb-0">@ViewBag.ProjeSayisi</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <small class="text-muted">Tamamlanan Proje</small>
                                        <h4 class="mb-0">@ViewBag.TamamlanmisProje</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <small class="text-muted">Tamamlanmayan Proje</small>
                                        <h4 class="mb-0">@ViewBag.TamamlanmamisProje</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             